<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>WebApp</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    </head>

    <div class="container">
        <div class="bigBlock">
            <!-- NavBar -->
            <div>
                <div class="headerLeft">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" style="width: 465px; height: 80px">
                    </a>
                </div>
                
                <div class="headerRight">
                    <a href="/explore/">explore</a> |
                    <a href="/accounts/login/">login</a>
                </div>
            </div>

            <!-- This clears the weird styling I had -->
            <div style="clear: both;"></div>

            {% block content %}{% endblock%}
        </div>

        <div class="footer">
            <p>Insert logo</p>
            <p>Insert email</p>
        </div>
    </div>
</html>