{% extends "base.html" %}
{% block content %}
<!-- <div class="faq"> -->
<div class="faq">
    <div>
        <div class="faqTitle">
            <p>FAQ</p>
        </div>
        <div class="faqContent">
            <div>
                <p><b>Q: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p><b>A: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p><b>Q: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p><b>A: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p><b>Q: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p><b>A: </b>5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock %}