{% extends "base.html" %}
{% block content %}
<!-- <div class="faq"> -->
<div class="faq">
    <div>
        <div class="faqTitle">
            <p>FAQ</p>
        </div>
        <div class="faqContent">
            {% for faq in faqs %}
            <div class="faqSet">
                <p class="faqQuestion"><b>Q: </b>{{faq[0]}}</p>
                <p class="faqAnswer"><b>A: </b>{{faq[1]}}</p>
            </div>
            {% endfor %}
        </div>

        
    </div>
</div>
<!-- </div> -->
{% endblock %}