{% extends "base.html" %}
{% block content %}
<div class="frameBG">
    <div>
        <div class="frame_text">
            <p>2 lines text max of tag line here</p>
        </div>

        <div class="frame_image">
            <img src="{{ url_for('static', filename='images/box_guy.png') }}" width="300" alt="box" />
        </div>
        
        <a href="/quiz/">
            <div class="quiz_button">
                Take Quiz
            </div>
        </a>
    </div>
</div>

<div class="home">
    <h3 class="title"> How it works </h3>
    <div class="numElemLeft">
        <img src="{{ url_for('static', filename='images/home1.png') }}" alt="box" />
        <div class="numElemTextRight">
            <p class="numElemBold">1</p>
            <p class="numElemSmall">5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
        </div>
    </div>
    <div class="numElemRight">
        <div class="numElemTextLeft">
            <p class="numElemBold">2</p>
            <p class="numElemSmall">5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
        </div>
        <img src="{{ url_for('static', filename='images/home2.png') }}" alt="box" />
    </div>
    <div class="numElemLeft">
        <img src="{{ url_for('static', filename='images/home3.png') }}" alt="box" />
        <div class="numElemTextRight">
            <p class="numElemBold">3</p>
            <p class="numElemSmall">5 lines of text max... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
        </div>
    </div>

    <a class="quiz_button2a" href="/quiz/"> 
        <div class="quiz_button2">
            Take Quiz
        </div>
    </a>
</div>


{% endblock %}
