{% extends "base.html" %}
{% block content %}
<div class="frameBG">
    <div class="frame_text">
        The Perfect Mystery Giftbox for UMich Students!
    </div>
    <div class="frame_image">
        <img src="{{ url_for('static', filename='images/box_guy.png') }}" width="300" alt="box" />
    </div>
    <a href="/quiz/">
        <div class="quiz_button">
            Take Quiz
        </div>
    </a>
</div>

<div class="home">
    <h3 class="title">How it works</h3>
    <div class="numElemLeft">
        <img src="{{ url_for('static', filename='images/home1.png') }}" alt="box" />
        <div class="numElemTextRight">
            <p class="numElemBold">1</p>
            <p class="numElemSmall">Fill out our short quiz in order for our team to best curate a gift box for your sender</p>
        </div>
    </div>
    <div class="numElemRight">
        <div class="numElemTextLeft">
            <p class="numElemBold">2</p>
            <p class="numElemSmall">We'll arrange and package the gift according to your answers!</p>
        </div>
        <img src="{{ url_for('static', filename='images/home2.png') }}" alt="box" />
    </div>
    <div class="numElemLeft">
        <img src="{{ url_for('static', filename='images/home3.png') }}" alt="box" />
        <div class="numElemTextRight">
            <p class="numElemBold">3</p>
            <p class="numElemSmall">Finally, our team will personally deliver the gift box to the recipient</p>
        </div>
    </div>

    <a class="quiz_button2a" href="/quiz/"> 
        <div class="quiz_button2">
            Take Quiz
        </div>
    </a>
</div>


{% endblock %}
