<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>PersonaGram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ url_for('static', filename='js/stripe.js') }}"></script>
    </head>

    <div class="container">
        <div class="bigBlock">
            <!-- NavBar -->
            <div class="header">
                <div class="headerLeft">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" style="width: 465px; height: 80px">
                    </a>
                </div>
            </div>

            <!-- This clears the weird styling I had -->
            <div style="clear: both;"></div>
            
            <div class="body">
              <div class="quizIntroTitle">
                <h3>Thanks for completion of quiz</h3>
                <button id="submitBtn" value="{{id}}">Proceed to Transaction</button>
              </div>
            </div>
        </div>
    </div>

    <div class="footerBG">
        <div class = "footerBox">
            <div class="footer">
                <img src="{{ url_for('static', filename='images/footerLogo.png') }}" alt="logo" style="width: 465px; height: 87px" class="footerElems">
                <div>
                    <div class="footerSameRow">
                        <img src="{{ url_for('static', filename='images/mail.png') }}" alt="logo" style="width: 40px; height: 28px; margin: auto 1em auto 0;" class="footerElems">
                        <p class="footerElems">info.personagram@gmail.com</p>
                    </div>
                    <div class="footerSameRow">
                        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="logo" style="width: 35px; height: 35px; margin: auto 1.2em auto 0;" class="footerElems">
                        <a href="https://www.instagram.com/personagramumich/"><p class="footerElems">@PersonaGramUmich</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>