{% extends "base_no_nav.html" %}
{% block content %}
<div class="quiz">
  <div class="quizIntroTitle">
    <p>Quiz!!!</p>
  </div>
  <div class="quizQuestions">
    <div>
      <form action="" method="post">
        {% for question in questions %}
        <p> Question {{question[0]+1}}: {{question[1]}} </p>
          {% for answer in answers[question[0]] %}
            <input type="radio" id="choice1" name="{{question[0]+1}}" value="{{answer}}">
            <label for="choice1">{{answer}}</label><br>
          {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit Quiz"/>
        <input type="hidden" name="operation" value="quiz"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}