{% extends "base.html" %}
{% block content %}
<div class="info_form">
  <p> Before you take this quiz, who is the box intended for? </p>
  <form action="" method="post">
    <input type="text" name="sender" placeholder="Sender" required/>
    <input type="text" name="receiver" placeholder="Receiver" required/>
    <p> Contact Information </p>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="tel" name="phone" placeholder ="Phone Number" required/>
    <input class="contact_submit" type="submit" value="Submit"/> </div>
  </form>
</div>
<div class="quiz_button2">
  <a class="quiz_button2a" href="/quiz/"> Take Quiz </a>
</div>

{% endblock %}
