@font-face{
    font-family: Nimbus;
    src: url('NimbusSans-Light.ttf');
}

.container {
    background-color: #FEFBF1;
    font-family: Nimbus;
}

.bigBlock {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    margin-top: 2em;
    min-height: 63vh;
}

/* NavBar */
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2em;
}

.headerLeft {
    float: left;
}

.headerRight {
    float: right;
    font-weight: 700;
}

.headerRight a {
    display: inline-block;
    margin-right: 1em;

    font-size: 34px;
}

.dropdown {
    display: inline-block;
    position: relative;
    padding: 0 1em 0 1em
}

.dropdown p {
    font-size: 34px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 0.2em;

    background-color: #FEFBF1;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 0.25em;
    text-decoration: none;
    font-size: 28px;
    margin: 0;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* Footer */
.footerBG {
    background-color: #1562D1;
}

.footerBox {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
}

.footerElems {
    margin-right: 6em;
    font-size: 20px;

    color: #FFFBF0;
}

/* FAQ */
.faq {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}

.faqTitle {
    font-size: 70px;
    margin-bottom: 0.5em;

    display: flex;
    justify-content: center;
}

.faqTitle p {
    margin: 0;
}

.faqContent {
    font-size: 20px;
    max-width: 80vh;

    margin-left: auto;
    margin-right: auto;
}

.faqSet {
    margin-bottom: 1em;
}

.faqQuestion {
    margin: 0;
}

.faqAnswer {
    margin: 0.5em 0em 0em 1em;
}

a {
    text-decoration: none;
    color: black;
}

/* Frame on home page */
.frameBG{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #6CCDEA;
    border-radius: 75px;

    max-width: 900px;
    padding: 0em 0em 2em 0em;
    margin-left: auto;
    margin-right: auto;
}

.frame_text{
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em 0 0 0;

    font-size: 65px;
    text-align: center;
    color: white;
}

.frame_small{
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 0 1.5em 0;

    font-size: 28px;
    text-align: center;
    color: white;
}

.frame_image {
    display: flex;
    justify-content: center;

    margin-bottom: 2.5em;
}

.quiz_button{
    display: flex;
    justify-content: center;

    border: solid;
    border-radius: 25px;
    color: white;

    padding: 0.5em 4em 0.5em 4em;

    width: 14%;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    font-size: 30px;
}

.quiz_button2{
    display: flex;
    justify-content: center;

    border: solid;
    border-radius: 25px;
    color: #1562D1;

    padding: 0.5em 4em 0.5em 4em;

    width: 14%;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    font-size: 30px;
}

.quiz_button2a {
    text-align: center;
    color: blue;
}

.home{
    display: block;
    margin: 25px 25px 0px 25px;
    padding-bottom: 2em;
}

.home h3 {
    color: black;
    font-size: 60px;
    text-align: center;
}

.numElemLeft {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4em;
}

.numElemRight {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4em;
}

.numElemTextLeft {
    flex-direction: column;
    max-width: 600px;
    margin-right: 4em;
}

.numElemTextRight {
    flex-direction: column;
    max-width: 600px;
    margin-left: 4em;
}

.numElemBold {
    color: #1562D1;
    font-size: 70px;
}

.numElemSmall {
    font-size: 28px;
    color: black;
}

.numberElems2{
    font-size: 30px;
    color: #1562D1;
    margin-right: 400px;
}

/* Quiz Start */
.quizIntroTitle {
    text-align: center;
    font-size: 40px;
}

.info_form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

/* Contact Page */
.contact_form {
  margin-left: auto;
  margin-right: auto;
}

.contact_submit {
  width: 15%;
  background-color: #1562D1;
  color: white;
  margin-top: 10px;
}

.contact_input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

input {
  margin-bottom: 8px;
}

.contact {
  text-align: center;
  font-family: 'ABeeZee';
}
.contact_bold {
  font-size: 48px;
  margin-bottom: 0.5em;
}

.contact_text {
  font-size: 24px;
}

/* About Page */
.about {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
}

.about_big {
  font-size: 48px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
